.back_to_top {
  position: fixed;
  bottom: 90px;
  right: 15px;
  background-color: #0d369f;
  color: white;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 12px;
  opacity: 0;
  visibility: hidden;
  transition: all 0.1s;
}

body .cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

.cd-top--fade-out {
  opacity: 0.5;
}
