* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 16px;
  background-color: rgb(248, 248, 248);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.btn-bg-white {
  background-color: white;
  color: black;
  height: 50px;
  width: 170px;
  font-weight: 600;
  border-color: transparent;
  border-radius: 5px;
  transition: all 0.5s;
}
.btn-bg-white:hover {
  background-color: #ff6e65;
  color: white;
}

.slide .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
  transition: all 0.3s;
}
.slide .carousel-indicators button:hover {
  background-color: #ff6e65;
}
.slide .carousel-indicators .active {
  background-color: #ff6e65;
}

.slide .carousel-indicators {
  margin: 0 !important;
  bottom: 100px;
  right: 30px;
}

.title {
  text-align: center;
  max-width: 700px;
  margin: 0 auto 50px;
}

.title h3 {
  font-weight: 600;
  font-size: 2.5rem;
  position: relative;
  padding-bottom: 10px;
}

.title h3 span {
  color: #ff6e65;
}

.title h3::before {
  content: "";
  width: 60px;
  height: 2px;
  position: absolute;
  background: #707070;
  left: 44%;
  bottom: 0px;
}
.title h3::after {
  content: "";
  width: 60px;
  height: 2px;
  position: absolute;
  background: #707070;
  right: 44%;
  bottom: -10px;
}

.title p {
  color: #707070;
  margin-top: 30px;
}
